<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Info de Empleado</title>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<base href="/" />
</head>
<body>
	<div class="container">
		<div class="starter-template">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h6>DNI:</h6>
					<span id="empleado_dni"></span>
					<h6>Nombre:</h6>
					<span id="empleado_nombre"></span>
					<h6>Apellido Paterno:</h6>
					<span id="empleado_apellido_paterno"></span>
					<h6>Apellido Materno:</h6>
					<span id="empleado_apellido_materno"></span>
					<h6>Estado:</h6>
					<span id="empleado_activo"></span>
					<h6>Lugar de Trabajo:</h6>
					<span id="empleado_empresa"></span>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							var prefix = "";
							$.getJSON(prefix + "/empleado/empleado/1", null,
									showOneEmployee).fail(err);

							function showOneEmployee(data) {
								$("#empleado_dni").html(data.dni);
								$("#empleado_nombre").html(data.nombre);
								$("#empleado_apellido_paterno").html(
										data.apellido_paterno);
								$("#empleado_apellido_materno").html(
										data.apellido_materno);
								if (data.activo) {
									$("#empleado_activo")
											.html(
													"<span class='badge badge-pill badge-success'>Activo</span>");
								} else {
									$("#empleado_activo")
											.html(
													"<span class='badge badge-pill badge-danger'>Inactivo</span>");
								}
								$("#empleado_empresa").html(data.empresa);
							}

							function err(xhr, status, msg, prefix) {
								var text = xhr.responseText;
								var emsg = "<p><b>AJAX Falló obteniendo "
										+ prefix + ": " + xhr.status + " "
										+ msg + "</b><br/></p>";
								$("#error").append(emsg);
								$("#error").show();
							}
						});
	</script>
</body>
</html>
