<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Tienda App</div>
    <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">Inicio</a>
        <a href="/productos" class="list-group-item list-group-item-action bg-light">Productos</a>
        {{!<a href="#" class="list-group-item list-group-item-action bg-light">Ordenes</a>}}
    </div>
</div>