<h1 class="mt-4">Inicio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores cum dignissimos eum quisquam, illum animi minus,
    totam voluptatibus dolorem, alias ex. Provident ipsum dicta consectetur sit a alias atque?</p>
</div>